<!DOCTYPE html>
<html ng-app>
  <head>
    <title>Iterating Over Data</title>
    <link href="styles.css" rel="stylesheet">
  </head>
  <body ng-init="people = [{ name: 'John', city: 'Chandler' }, { name: 'Dave', city: 'Seattle' }]">
    <ul>
      <li ng-repeat="person in people" ng-cloak>{{ person.name }} {{ person.city }}</li>
    </ul>

    <table>
      <tr>
        <th>Name</th>
        <th>City</th>
      </tr>
      <tr ng-repeat="person in people" ng-cloak>
        <td>{{ person.name }}</td>
        <td>{{ person.city }}</td>
      </tr>
    </table>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  </body>
</html>
